.KursBlock{
  background-color: #222;
  color: #fff;
}

.KursBlock > div{
  background-color: #2a2a2a;
}

.KursBlock-currency{
  color: #98da00;
}

.KursBlock-disabled{
  color: #acacac;
}

.KursBlock-currency{
  color: #98da00;
}
